<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px"></img>
    <p>
      {{chat.lastText}}
    </p>
  </ion-content>
</ion-view>
<!--
  <ion-pane ng-controller="ChatingCtrl">
    <ion-content padding="true" class="has-header" start-y="120">
      <ol class="messages">
        <li ng-repeat="message in messages" ng-bind-html="message.content"></li>
      </ol>
    </ion-content>
    <ion-footer-bar class="bar-frosted">

    <div class="list hide-on-keyboard-open">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Message">
    </label>
    <button class="button button-small" ng-click="add()">
      Submit
    </button>
  </div>

</div>
      <button class="button button-clear button-positive" ng-click="add()">Add Message</button>
    </ion-footer-bar>
-->
