
<ion-view view-title="Login">
  <ion-content class="padding">
  <br><br>
        <div class="bar bar-footer bar-positive" ng-click="FacebookLogin()">
          <div class="title">Login with Facebook</div>
        </div>

            <div class="list list-inset">
  <label class="item item-input">
    <input type="email" placeholder="Email">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password">
  </label>

  <button  
           <button  class="button button-balanced"><i class="icon ion-home"></i></button>

<!--
    <label class="item item-input">
    <input type="datetime" placeholder="Password">
  </label>
-->
</div>

  </ion-content>
</ion-view>
