<ion-view view-title="Selete"> 
  <ion-content class="padding">
<div class="list">

  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Go
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Go
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Go
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>


</div>

            <div class="list list-inset">
  <label class="item item-input">
    <input type="email" placeholder="Email">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password">
  </label>

  <button  class="button button-block button-assertive" ng-click=""><i class="icon ion-social-hackernews-outline"></i>Register</button>

  <button  class="button button-block button-positive" ng-click="FacebookLogin()"><i class="icon ion-social-facebook"></i>Login with Facebook</button>


    <label class="item item-input">
    <input type="text" class="nativedatepicker" placeholder="datepicker">
  </label>

</div>

  </ion-content>
</ion-view>
