
<ion-view view-title="Select"> 
  <ion-content class="padding">
  <br><br>
  <h3>Selete your preference:</h3>
<div class="list">

  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Running
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
    <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Shopping
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
    <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Hiking
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
    <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Singing
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
   <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Museums
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
      <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Concerts
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>


</div>

     <button  class="button button-energized" ng-click="">Explore</button>
         

  </ion-content>
</ion-view>
