
<ion-view view-title="Select"> 
  <ion-content class="padding">
  <br></br><br></br>
  <h3>Selete your preference:</h3>
<div class="list">
<!--
      <ion-checkbox ng-model="pushNotification.checked" ng-change="pushNotificationChange()">
        Push Notifications
      </ion-checkbox>
-->
      <ion-checkbox ng-repeat="item in devList" ng-model="item.checked" ng-checked="item.checked">
        {{ item.text }}
      </ion-checkbox>
 


<!--
   <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" >
     </label>
     Running
  </li>

 <li class="item item-radio">
     <label class="radio">
       <input type="radio" >
     </label>
     Singing
  </li>
 
  -->



</div>

<div class="row">
  <div class="col col-offset-10 col-30"><button  class="button button-energized" ng-click="">Explore</button></div>
  <div class="col col-offset-10 col-30"><button  class="button button-calm" ng-click="">Skipe</button></div>

</div>
     
  </ion-content>
</ion-view>
