<ion-view view-title="Profile">
  <ion-content>
    <ion-list>
      <ion-item>
        <div class="profile-name">
          {{user.facebook.displayName}}
        </div>
        <img src="https://graph.facebook.com/{{user.facebook.id}}/picture?type=normal" alt="" class="profile-pic">
      </ion-item>
      <ion-item href="#/video">
        Add/Modify Video
      </ion-item>
      <ion-item class="item-toggle">
        Enable Friends
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableFriends">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
