<ion-view view-title="Profile">
  <ion-content>
    <ion-list>
      <ion-item>
        <div class="profile-name">
          {{name}}
        </div>
        <img src="{{profilePic}}" alt="" class="profile-pic"></img>
      </ion-item>
      <ion-item href="#" ng-click="launchVideo()">
        Add New Video
      </ion-item>



      <ion-item class="item-toggle">
        Share Video With Friends
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableFriends">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>


<!--
   <ion-toggle ng-model="pushNotification.checked" ng-change="pushNotificationChange()">
        Push Notifications
      </ion-toggle>

      <div class="item">
        <pre ng-bind="pushNotification | json"></pre>
      </div>
-->
    </ion-list>
  </ion-content>
</ion-view>
