<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
  <head>
     <title>Idea Child Test</title>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://www.crowdfluttr.com/css/maincarousel.css" rel="stylesheet" type="text/css">
    <style>
      #myCarousel {
        margin-top: 5%;
        width: 100%;
        height: 800px;
      }
    </style>
        <script>
          var app = angular.module("app", ["firebase"]);
          app.constant("FBURL", "https://yinder.firebaseio.com/");
          app.service("Ref", ["FBURL", Firebase]);
          app.factory("Categories", ["$firebase", "Ref", function($firebase, Ref) {
            var childRef = Ref.child('Categories');
            return $firebase(childRef).$asArray();
          }]);
          app.factory("Matches", ["$firebase", "Ref", function($firebase, Ref) {
            var childRef = Ref.child('Categories').child('like');
            return $firebase(childRef).$asArray();
          }]);
          app.controller("ctrl", ["$scope", "$firebase", "Categories", "Matches",
            function($scope, $firebase, Categories, Matches) {

              $scope.categories = Categories;
              $scope.matches = Matches;

              var ref = new Firebase("https://yinder.firebaseio.com/Categories");
              ref.on("child_added", function(snapshot) {
                  var hello = snapshot.val();
                  $scope.world = hello.Category;
                  console.log(hello.Category);
                }, function (errorObject) {
                  console.log("The read failed: " + errorObject.code);
                });

              var pref = new Firebase("https://yinder.firebaseio.com/Categories/"+Categories.$keyAt(id));
              pref.on("child_added", function(snapshot) {
                  var hello = snapshot.val();
                  $scope.tree = hello.like;
                  console.log(hello.like);
                }, function (errorObject) {
                  console.log("The read failed: " + errorObject.code);
                });


            }
          ]);
        </script>
  </head>
  <body>
  <h1>{{"Hello World!"}}</h1>

  <div ng-repeat="(id,item) in categories">
    {{item.Category}}
    <div ng-repeat="(id,item) in matches">
      {{item.like}}
    </div>
  </div>


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">

        <div class="item" ng-repeat="(id,item) in categories" ng-class="{active : $first}">
          <div class="carousel-caption">
            <h1 style="color:#fff">{{item.Category}}</h1>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span u="arrowleft" id="arrowL" class="jssora21l " style="width: 55px; height: 55px; top: 123px; left: 8px;">
        </span>
      </a>
      <a  class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span u="arrowright" id="arrowR" class="jssora21r" style="width: 55px; height: 55px; top: 123px; right: 8px">
        </span>
      </a>
    </div>

          </body>
        </html>